.post{
    border-radius: 25px;
    margin: 10px;
    background-color: #9987bd9c;
    box-shadow:inset 0px 0px 20px 5px #909090;
}

.image{
    width: 100%;
    aspect-ratio: 1/1;
    margin-left: auto;
    margin-right: auto;
<<<<<<< HEAD
    margin-top: 12px;
=======
    margin-top: 0px;
>>>>>>> 3b0fb3721c57bfed839bd0db3c8769530657dc44
}

.description , .title{
    padding: 20px;
}