<div class="d-flex flex-wrap  gap-3">
    <div class="card post" style="width: 30%;" *ngFor="let post of posts">
        <div class="image" *ngIf="post.type == 'video/mp4'">
            <video class="image"  controls>
                <source src="{{post.midea}}" type="video/mp4">
              </video>
        </div>
        <div class="image" *ngIf="post.type == 'image/jpeg' || post.type=='image/png'">
            <img class="image rounded mx-auto" src="{{post.midea}}" alt="">
        </div>
        
        <div class="title fs-4 fw-5">
            {{post.title}}
        </div>
        <div class="description">
            {{post.description}}
        </div>
    </div>

</div>
