<div class="nav-scroll" style="height: calc(100vh - 70px); overflow-y: auto;">
  <div class="navbar-content">
    <ul class="nav coded-inner-navbar" (clickOutside)="fireOutClick()" (mouseleave)="navMob()">
      <div *ngFor="let item of navigation; trackBy: trackByFn">
        <div *ngIf="item.type === 'group'"><app-nav-group [item]="item"></app-nav-group></div>
        <div *ngIf="item.type === 'collapse'"><app-nav-collapse [item]="item"></app-nav-collapse></div>
        <div *ngIf="item.type === 'item'"><app-nav-item [item]="item"></app-nav-item></div>
      </div>
      <!-- @for (item of navigation; track item) {
        @if (item.type == 'group') {
          <app-nav-group [item]="item"></app-nav-group>
        }
        @if (item.type == 'collapse') {
          <app-nav-collapse [item]="item"></app-nav-collapse>
        }
        @if (item.type == 'item') {
          <app-nav-item [item]="item"></app-nav-item>
        }
      } -->
    </ul>
    <div class="pc-navbar-card bg-primary rounded">
      <h4 class="text-white">CMS Pro</h4>
      <p class="text-white">Checkout our CMS Premium Features</p>
      <a
        href="#"
        target="_blank"
        class="btn btn-light text-primary"
      >
        comming Soon
      </a>
    </div>
    <div class="version">
      <label disabled class="pe-auto">v{{ currentApplicationVersion }}</label>
    </div>
  </div>
</div>
