<div class="flex justify-content-center py-5 border border-secondary" [style]="{'height': '100vh'}">
    <div>
        <i class="pi pi-fw pi-video"></i> videos
    </div>
    <div>
        <i class="pi pi-fw pi-users"></i> users
    </div>
    <div>
        <i class="pi pi-fw pi-image"></i> image
    </div>
    <div>
        <i class="pi pi-fw pi-image"></i> pages
    </div>
    <div>
        <i class="pi pi-fw pi-image"></i> article
    </div>
    <div>
        <i class="pi pi-fw pi-image"></i> pages
    </div>
</div>