<div class="container full-height d-flex justify-content-center align-items-center">
    <div class="col-md-6 w-50 login-form">
        <img class="profilepic" src="{{imageURL}}" alt="">

        <div>
            <h3>profile</h3>
        </div>
        <div>
            <p>Name: {{profile.name}}</p>
            <p>Email: {{profile.email}}</p>
        </div>

        <div>
            <button class="btn btn-outline border-primary text-primary"><span class="pi pi-pencil"></span> Edit </button>
        </div>
    </div>

</div>