<div class="container full-height d-flex justify-content-center align-items-center">
    <div class="col-md-6 w-50 profile login-form p-5">
        <img class="profilepic mx-auto" src="{{imageURL}}" alt="">

        <div>
            <h3>profile</h3>
        </div>
        <div>
            <p>Name: {{profile.name}}</p>
            <p>Email: {{profile.email}}</p>
        </div>

        <div class="action">
            <button type="button" class="btn action-btn btn btn-outline" data-bs-toggle="modal" data-bs-target="#exampleModal"
                (click)="edit(profile)"><i class="pi  pi-pencil"></i> Edit</button>
            <!-- Modal -->
            <div class="modal fade bg-transparent" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-xl">
                    <div class="modal-content bg-transparent border-0">
        
                        <div class="modal-body">
                            <app-signup [isedit]="updated" [profile]="profile"></app-signup>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

