<nav class="navbar navbar-expand-lg bg-body-tertiary border-bottom border-secondary">
    <div class="container-fluid" >

        <div >
            <img class="profilepic" src="{{imageURL}}" alt="">
        </div>

        <a class="navbar-brand" href="#">CMS</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item menu">
                    <a class="nav-link active" aria-current="page" routerLink="/">Home <i class="pi pi-home"></i></a>

                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/addPost">Add post 
                        <app-create-icon></app-create-icon>
                    </a>
                </li>
                <li class="nav-item menu" *ngIf="Role == 'user'">
                    <a class="nav-link active menu" aria-current="page" href="#">Make your channel <p-dropdown>
                        <ng-template pTemplate="dropdownicon">
                            <img class="image" style="height: 20px" alt="dropdown icon" src="../../../assets/update.png">
                        </ng-template>
                    </p-dropdown></a>
                </li>
                <li class="nav-item"  *ngIf="Role != 'user'">
                    <a class="nav-link active" aria-current="page" routerLink="/category">My post <p-dropdown>
                        <ng-template pTemplate="dropdownicon">
                            <img class="image" style="height: 20px" alt="dropdown icon" src="../../../assets/mypost.png">
                        </ng-template>
                    </p-dropdown></a>
                </li>
            </ul>
            <div class="d-flex align-items-center fs-3 me-3" >{{userName}}  </div>
            <button class="btn text-danger mx-3" (click)="logout()" type="button">Logout <i class="pi pi-user-minus"></i></button>
        </div>
    </div>
</nav>

